.container{
    width:80%;
    margin-top: 40px;
}
menu{
    padding-left: 0;
    margin-left: 0;
}
menu ul{
    list-style:none;
    float: right;
}
menu ul li{
    display:inline-block;
    margin-left: 10px;
}
menu ul li a{
    text-decoration: none !important;
    color: black;
    font-size: 15px;
}
menu ul li a:hover{
    color:#f3a536;
    font-weight: bold;
    transition:.3s;
}
article img{
    width: 100%;
}
h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}

.featured-articles{
    margin-top: 25px;
}
.featured-articles article{
    border-top: 1px #3a3958 solid;
    height:26%;
}
.featured-articles-content{
    display: flex;
    justify-content: space-between;
}
.main-article .content{
    display: flex;
    margin-top: 1em;
}
.main-article p{
    font-size: 16.5px;
}
.main-article, .news{
    box-sizing: border-box;
}
.featured-articles .news{
    background-color: #33324d;
}
.featured-articles .news h3{
    color: #f3a536;
    padding: 10px 20px;
    font-size: 2.5em;
    line-height: 2em;
}
.featured-articles .news article{
    padding: 10px 20px;
}
.featured-articles .news h4{
    padding-top:5%;
}
.featured-articles .news h4 a{
    color: white;
}
.featured-articles .news h4 a:hover{
    color: #f3a536;
    text-decoration: none;
    transition: 0.3s;
}
.featured-articles .news p{
    color: #9999b3;
}
.other-articles{
    margin-top: 3em;
}
.other-articles img{
    width: 100%;
}
h4{
    font-size: 1.2em;
}
.other-articles h4{
    font-weight: bolder;
    color: black;
}

.other-articles h4 a{
    font-weight: bolder;
    color: black;
}

.other-articles h4 a:hover{
    color: black;
    text-decoration: none;
    color: #f3a536;
    transition: 0.3s;
}

button.call-to-action{
    background-color: #ed4030;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    border: none;
    padding: 5px 15px;
}

button.call-to-action:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

.article-number{
    font-size: 27px;
    font-weight: bolder;
    color: #a6a5a8;
    line-height: 1;
}
.article-number a{
    color: #a6a5a8;
}

.article-number a:hover{
    color: #f3a536;
    text-decoration: none;
    transition: 0.3s;
}

h2{
    font-size: 4.2rem;
}

.iconmenu{
    display: none;
}

@media screen and (max-width:768px) {
    .featured-articles-content{
        display: inline-block;
    }
    .main-article .content{
        display: inline-block;
    }

    button.call-to-action{
        position: relative;
        bottom: 0;
    }
    .main-article{
        margin-bottom: 1.5em;
    }
    menu{
        margin-top: 0px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
        z-index: 100;
        background-color: #0000009c;
    }
    menu ul{
        float: none;
        margin-left: 0;
        padding-left: 0;
        padding-top: 6em;
        margin-left: 25%;
        margin-top: 0;
        margin-bottom: 0;
        height: 100vh;
        background: white;
    }
    menu ul li{
        display: block;
        
        border-top: 1px #00000000 solid;
        margin-left: 0;
        border-bottom: 1px #0000000a solid;
    }
    menu ul li:nth-child(5){
        border-bottom: none;

    }
    menu ul li a{
        display: block;
        padding: 14px;
    }
    .iconmenu{
        display: inline-block;
        float: right;
        margin-top: 0px;
        padding: 14px 10px;
        background: #f4f4f4;
        border-radius: 5px;
        width: 45px;
        border: 1px #e8e8e8 solid;
    }

}